<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
<body>
  <%- include('layout'); -%>
    
    <!-- Page Content -->
    <div class="container">
  
      <div class="row">
          
        <!-- Blog Entries Column -->
        <div class="col-md-8">
  
          <h3 class="my-4">บทความทั้งหมด</h3>
  
          <!-- Blog Post -->
          <% posts.forEach(function(post) { %>
            <div class="card mb-4">
              <img class="card-img-top" src="<%= post.img %>" alt="Card image cap" width="650px" height="350px">
              <div class="card-body">
                <h2 class="card-title"><%= post.title %></h2>
                <p class="card-text">
                  <%- descriptionText(post.content,400) %>
                </p>
                <a href="/show/<%= post._id %>" class="btn btn-primary">Read More &rarr;</a>
              </div>
              <div class="card-footer text-muted">
                Posted on <%= moment(post.date).format("DD-MM-YYYY") %> by
                <a href="/posts/show/?author=<%=post.author %>" class="text-decoration-none"><%= post.author %></a>, <a href="/posts/show/?category=<%=post.category %>" class="text-decoration-none"><%=post.category %></a>
              </div>
            </div>
              <%})%>
          
  
          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>
  
        </div>
        <!-- Sidebar Widgets Column -->
        <%- include('sidebar'); -%>
  
      </div>
      <!-- /.row -->
  
    </div>
    <!-- /.container -->
  
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Mint Mintra</p>
      </div>
      <!-- /.container -->
    </footer>
</body>
</html>